#root {
  margin: 0 auto;
  padding: 2rem 2rem;
}

.bentoGrid {
  /* 3 columns (second collum 2fr), 3 rows */
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);

  gap: 1rem;
}

.bentoGrid > section {
  border-radius: 18px;
}

/* if screen height is less than 1000px, add max-height: 200px to #wallphotos  */
@media (max-height: 900px) {
  #wallphotos {
    max-height: 240px;
  }
}

/* create wiggle animation */
@keyframes wiggle {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(12deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
